
**/__pycache__/

todo.MD
# Ignore database files
*.sqlite3

# Ignore virtual environments
venv/
env/
*venv*
.env
**/.env/
*env*

# Ignore IDE settings (VS Code, PyCharm, etc.)
.vscode/
.idea/

**/.pytest_cache/