
**/__pycache__/

todo.MD
# Ignore database files
*.sqlite3

# Ignore virtual environments and envs


venv/
env/
*venv*
.env
**/.env/
*env*
!.env.example

# Ignore IDE settings (VS Code, PyCharm, etc.)
.vscode/
.idea/

**/.pytest_cache/