
**/__pycache__/

todo.MD

*.mdt


# Ignore database files
*.sqlite3

# Ignore virtual environments and envs
venv/
env/
*venv*
.env
**/.env/
*env*

# Don't ignore .env.example
!.env.example

# Ignore IDE settings (VS Code, PyCharm, etc.)
.vscode/
.idea/


# Ignore pytest stuff
**/.pytest_cache/


# Ignore Logs

*.log

# Ignore frontend package manager lockfiles (depending on what you're using)
frontend/package-lock.json
frontend/yarn.lock


# Ignore macOS system files (if working on macOS)
.DS_Store

# Node.js
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc
.pytest_cache/

# Coverage reports
htmlcov/
coverage.xml
.coverage
